<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <style>
        input {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Login Form</h1>
    <div class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="title">登入畫面</div>
                <div class="columns is-centered">
                    <div class="column is-6">
                        <form action="" class="box">
                            <div class="field">
                                <label for="" class="label">
                                    Username
                                </label>
                                <div class="control">
                                    <input type="text" class="input">
                                </div>
                            </div>
                            <div class="field">
                                <label for="" class="label">
                                    Email
                                </label>
                                <div class="control">
                                    <input type="email" class="input">
                                </div>
                            </div>
                            <div class="field">
                                <label for="" class="label">
                                    <input type="checkbox" class="checkbox">Remember
                                </label>
                            </div>
                            <div class="field">
                                <button class="button is-success">Login</button>
                                <button class="button is-danger">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>