<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
    <style>
        input {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="hero is-success is-fullheight">
        <div class="hero-body has-text-centered">
            <div class="container">
                <div class="columns">
                    <div class="column has-text-centered">
                        <p class="title is-size-2 mb-5">登入畫面</p>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-5">
                        <form action="" class="box">
                            <div class="field">
                                <label for="" class="label">Username</label>
                                <input type="text" class="input">
                            </div>
                            <div class="filed">
                                <label for="" class="label">Password</label>
                                <input type="password" class="input">
                            </div>
                            <div class="field has-text-left ml-1">
                                <input type="checkbox" class="checkbox" name="" id="">
                                <span class="has-text-danger">Remember</span>
                            </div>
                            <div class="field mt-3">
                                <input type="submit" class="button is-info" value="登入">
                                <input type="submit" class="button is-warning" value="註冊">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>